note {
	width: 40em;
}
p {
	width: clamp(0%, 40em, 80%);
	text-align: justify;
}

/* Block all the adverts. */
#waldo-sticky-footer-wrapper, #google_image_div, #rightad, #rightad_container, #header_ad #google_ads_iframe_, .waldo-display-unit {
	visibility: hidden;
	width: 0%;
	height: 0%;
}

#nav {
	/* width: clamp(0%, 100px, 100px); */
	max-width: 250px;
	margin: auto;
}
